@{
    ViewBag.Title = "Contact";
}

<div class="promotion1">
    正确率：
</div>
<div class="promotion2-1">
    <a href="~/Home/lndex">首页</a>
</div>
<div class="promotion2">
    打印题目
</div>

<div class="promotion3">
    打印答题卡
</div>

<div class="promotion4">
    交卷
</div>

<div>

    <textarea rows="30" cols="60" class="promotion5">
            <!--此处为出题卡-->
    </textarea>
    <textarea rows="30" cols="60" class="promotion5-1">
            <!--此处为答题卡-->
    </textarea>
</div>