@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
    
    <p>年级：</p>
    <p>参数：</p>
    <p>题量：</p>

</div>

<div class="jumbotron1">
    <select style="width: 200px;">
        <option value="volvo">-请选择-</option>
        <option value="volvo">一年级</option>
        <option value="saab">二年级</option>
        <option value="opel">三年级</option>
        <option value="audi">四年级</option>
        <option value="opel">五年级</option>
        <option value="audi">六年级</option>
    </select>

</div>

<div class="jumbotron2">
    <select style="width:200px">
        <option value="volvo">-请选择-</option>
        <option value="volvo">加</option>
        <option value="saab">减</option>
        <option value="opel">乘</option>
        <option value="audi">除</option>
        <option value="audi">括号</option>
    </select>
</div>

<div class="jumbotron3">
    <form>
        <input type="text" name="lastname" value="" style="width:200px;" placeholder="您需要多少题？">
    </form>
</div>

<div>
    <button type="button" class="jumbotron4" >
            <a href="~/Home/Contact">生成练习题目</a>
    </button>
</div>

<div>
    <button type="button" class="jumbotron6">
        <a href="~/Home/About">生成考试题目</a></button>
</div>